<% content_for :title do %>Jenkins dashboard<% end %>
<script type='text/javascript'>
 $(function() {
   Dashing.gridsterLayout('[{"col":2,"row":2,"size_x":1,"size_y":1},{"col":3,"row":2,"size_x":1,"size_y":1},{"col":1,"row":1,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":1,"size_y":1},{"col":4,"row":2,"size_x":1,"size_y":1},{"col":5,"row":2,"size_x":1,"size_y":1},{"col":5,"row":1,"size_x":1,"size_y":1}]')
 });
 </script>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="job1" data-view="JenkinsBuild" data-title="CMC Price" data-description="" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="job2" data-view="JenkinsBuild" data-title="Min API" data-description="" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="job3" data-view="JenkinsBuild" data-title="ccc-stream" data-description="" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="job4" data-view="JenkinsBuild" data-title="ccc-obs" data-description="" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="job5" data-view="JenkinsBuild" data-title="ccc-trip" data-description="" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="job6" data-view="JenkinsBuild" data-title="Toplist" data-description="" data-min="0" data-max="100"></div>
    </li>
   
   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
   <div data-id="job7" data-view="JenkinsBuild" data-title="toolbox C++" data-description="" data-min="0" data-max="100"></div>
   </li>

   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
   <div data-id="job8" data-view="JenkinsBuild" data-title="Dev Auth API" data-description="" data-min="0" data-max="100"></div>
   </li>

   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
   <div data-id="job9" data-view="JenkinsBuild" data-title="index-mvda" data-description="" data-min="0" data-max="100"></div>
   </li>

   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
   <div data-id="job10" data-view="JenkinsBuild" data-title="ccc-interop" data-description="" data-min="0" data-max="100"></div>
   </li>



  </ul>
  
</div>


